@page
@model IndexModel
@using SqlSugarDemo.Services;
@using SqlSugarDemo.ORM;
@using SqlSugarDemo.ORM.Entity;
@{
    HomeService services = new HomeService();
    List<Student> list = services.GetList();

    Console.WriteLine();
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
